ul li {
  list-style: none;
}
.app-logo{
  width: 170px;
  height: 55px;
  margin-top: 8px;
}
mat-toolbar{
  background-color: #13202e;
}
mat-icon{
  color: white;
}
.loader-container{
  position: fixed;
  width: 100%;
  z-index: 99;
}
